.Header {
  background: linear-gradient(to right, #092e41,#0c6491 93.37%);
  color: #b3dbee;
}

.Header__title {
  font-family: 'Avenir Next';
  font-size: 1.25rem;
  line-height: 1.1;
  display: inline-block;
  font-weight: 600;
}


:root {
  --ball-size: 2rem;
  --ball-color: #FF4D00;
}

.Ball {
  margin-right: 2rem;
  display: inline-block;
  background-color: currentColor;
  width: var(--ball-size);
  height: var(--ball-size);
  border-radius: 100%;
  animation: 1.125s Bounce infinite;
}

@keyframes Bounce {
  0% {
    transform: none;
    animation-timing-function: cubic-bezier(.78, .01, .83, .67);
    box-shadow: none;
  }

  25%, 45% {}

  50% {
    transform: translateY(2rem);
  }

  55% {
    transform: translateY(2.5rem);
  }

  75% {}

  100% {
    transform: none;
    animation-timing-function: ease-in;
    box-shadow: none;
  }
}
