html {
  background: #092e41;
  font-family: 'Avenir Next';
}

:root {
  --ff-sans-serif: var(--avenir);
  --ff-w: 400;
  --headlines: inherit;
  --body-text: inherit;
}

.Input {
  display: block;
  width: 100%;
  background: none;
  color: inherit;
  border: 0;
  padding: 1rem;
  border-radius: 0;
}

.Input::placeholder {
  font-style: italic;
  color: #b3dbee;
}

.Input__container {
  background: #063651;
  color: white;
  border-top: 1px solid rgba(30,184,235,.35);
  border-bottom: 1px solid rgba(30,184,235,.35);
}


.Label {
  color: #b3dbee;
  opacity: .5;
}

.Wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  width: 100%;
}

.Wrapper--b {
  margin-bottom: 3rem;
}
