:root {
  --ss: 'Hind', 'Avenir Next', 'Segoe UI', 'PT Sans', sans-serif;
  --ff-w: 400;
  --headlines: inherit;
  --body-text: inherit;
}

html {
  background: #092e41;
  font-family: var(--ss);
}

.Input {
  display: block;
  width: 100%;
  background: none;
  color: inherit;
  border: 0;
  padding: 1rem;
  border-radius: 0;
  outline: none;
}

.Input::placeholder {
  color: #b3dbee;
}

.Input__container {
  background: #063651;
  color: white;
  border-top: 1px solid rgba(30,184,235,.35);
  border-bottom: 1px solid rgba(30,184,235,.35);
}


.Label {
  color: #b3dbee;
  opacity: .5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .875rem;
}

.Wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  width: 100%;
}

.Wrapper--b {
  margin-bottom: 3rem;
}
